<section id="entrar">
  <div class="main">
    <div>
      <h1>
        <img src="assets/svg/logo-1.svg" alt="Save the World" />
      </h1>
      <p>Only you can create the microorganism capable of destroying the virus that is making the world sick!</p>
      <span>
        <img src="assets/img/detail-btn-1.png" alt="detail-btn" />
        <a routerLink="/painel">Start</a>
        <img src="assets/img/detail-btn-2.png" alt="detail-btn" />
      </span>
    </div>
  </div>
  <div class="doctor">
    <span></span>
    <img src="assets/img/doctor-head.png" alt="doctor-head" />
    <img src="assets/img/doctor-body.png" alt="doctor" />
    <img src="assets/img/doctor-arm.png" alt="doctor-arm" />
  </div>
</section>
