.list-menu
	padding 10px
	display flex
	flex-wrap wrap

	li
		flex 33.33%
		padding 10px

		img
			border-radius 10px
			box-shadow: 0 0 0 4px #EDF7F9;
			border solid 4px #DAEBEF
			background-color #EDF7F9
			transition 0.5s

			&:hover
				transform scale(1.1)
				box-shadow: 0 0 0 4px #F96D00
				cursor pointer
