.color-pick
    display flex
    padding: 5px

    li
        width 20px
        height 20px
        flex: auto
        cursor pointer

.color-pick-gradiente
    display none

    &.select
        display flex
